<?xml version="1.0"?>
<config>
    <modules>
        <Openpay_Charges>
            <version>1.9.0</version>
        </Openpay_Charges>
    </modules>
    <global>
        <resources>
            <charges_setup>
                <setup>
                    <module>Openpay_Charges</module>
                    <class>Openpay_Charges_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </charges_setup>
        </resources>
        <models>
            <charges>
                <class>Openpay_Charges_Model</class>
            </charges>
            <customer>
                <rewrite>
                    <entity_setup>Openpay_Charges_Model_Customer_Entity_Setup</entity_setup>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <charges>
                <class>Openpay_Charges_Helper</class>
            </charges>
        </helpers>
        <blocks>
            <charges>
                <class>Openpay_Charges_Block</class>
            </charges>
            <page>
                <rewrite>
                    <html_head>Openpay_Charges_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
            <payment>
                <rewrite>
                    <info_ccsave>Openpay_Charges_Block_Payment_Info_Ccsave</info_ccsave>
                </rewrite>
            </payment>    
        </blocks>
        <payment>
            <groups>
                <charges>openpay</charges>
            </groups>
            <cc>
                <types>
                    <CN>
                        <code>CN</code>
                        <name>Carnet</name>
                        <order>60</order>
                    </CN>
                </types>
            </cc>
        </payment>
        <fieldsets>
            <sales_convert_quote_payment>
                <openpay_token>
                    <to_quote_payment>*</to_quote_payment>
                </openpay_token>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <openpay_authorization>
                    <to_order_payment>*</to_order_payment>
                </openpay_authorization>
                <openpay_creation_date>
                    <to_order_payment>*</to_order_payment>
                </openpay_creation_date>
                <openpay_payment_id>
                    <to_order_payment>*</to_order_payment>
                </openpay_payment_id>
                <openpay_3d_secure>
                    <to_order_payment>*</to_order_payment>
                </openpay_3d_secure>
                <openpay_3d_secure_url>
                    <to_order_payment>*</to_order_payment>
                </openpay_3d_secure_url>
            </sales_convert_order_payment>
            <customer_account>
                <openpay_customer_id>
                    <create>1</create>
                    <update>1</update>
                </openpay_customer_id>
            </customer_account>
        </fieldsets>
        <events>
            <customer_address_save_after>
                <observers>
                    <charges>
                        <class>charges/observer</class>
                        <method>customerAddressSaveAfter</method>
                    </charges>
                </observers>
            </customer_address_save_after>
            <customer_save_after>
                <observers>
                    <charges>
                        <class>charges/observer</class>
                        <method>customerSaveAfter</method>
                    </charges>
                </observers>
            </customer_save_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <charges>
                        <class>charges/observer</class>
                        <method>checkoutOnepageControllerSuccessAction</method>
                    </charges>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <openpay_charges>
                    <file>openpay_charges.xml</file>
                </openpay_charges>
            </updates>
        </layout>
        <routers>
            <charges>
                <use>standard</use>
                <args>
                    <module>Openpay_Charges</module>
                    <frontName>charges</frontName>                    
                </args>
            </charges>
            <checkout>
                <args>                                  
                    <modules>
                        <!-- Overwrite onepage checkout controller -->
                        <Openpay_Charges before="Mage_Checkout">Openpay_Charges_Checkout</Openpay_Charges>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Openpay_Charges>
                    <files>
                        <default>Openpay_Charges.csv</default>
                    </files>
                </Openpay_Charges>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Openpay_Charges>
                    <files>
                        <default>Openpay_Charges.csv</default>
                    </files>
                </Openpay_Charges>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <charges>
                <model>charges/method_openpay</model>
                <group>openpay</group>
                <active>1</active>
                <order_status>pending</order_status>                         
                <title>Openpay Tarjetas</title>
                <cctypes>AE,VI,MC,CN</cctypes>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <months_interest_free>1</months_interest_free>
                <use_3d_secure>0</use_3d_secure>
            </charges>
        </payment>
    </default>
</config>
