<!--@subject Email - Footer @-->
<!-- End Content -->
<tr>
<td style="border-top: 1px solid #cccccc;">
<table width="750" border="0" align="left" cellpadding="0" cellspacing="0" class="title">
	<tr>
		<td width="20" style="background-color:#f4f4f4;">&nbsp;</td>
		<td width="10" height="40">&nbsp;</td>
		<td width="636" style="font-size:20px;font-weight:bold;text-align:left;color:#58595b;">
			&iquest;Tienes alguna duda?
		</td>
	</tr>
	<tr>
		<td class="title_space">&nbsp;</td>
		<td height="40">&nbsp;</td>
		<td style="font-size:13px;text-align:left;color:#58595b;">
			Comunícate con nosotros al CAT</td>
	</tr>
<tr>
	<td >&nbsp;</td>
	<td height="40">&nbsp;</td>
	<td height="100" valign="top" style="font-size:15px;text-align:left;color:#58595b;">
	<table width="500" border="0" align="left" cellpadding="2" cellspacing="2">
		<tr>
			<td width="35" align="center" style="text-align:center;">
				<img src="{{media url='email/tel.jpg'}}" width="27" height="28" />
			</td>
			<td width="451" style="color:#58595b;font-size:18px;text-align:left;">
				(01 55) 1250-2317
			</td>
		</tr>
		<tr>
			<td align="center" style="text-align:center;">
				<img src="{{media url='email/m.jpg'}}" width="27" height="28" />
			</td>
			<td>
				<a href="mailto:dudas@cafeparaminegocio.com.mx" target="_blank" style="text-decoration:none;color:#ef2226;">dudas@cafeparaminegocio.com.mx</a>
			</td>
		</tr>
	</table>
	</td>
	</tr>
</table>
</td>
</tr>
</td>
</tr>
<tr>
<td bgcolor="white">&nbsp;</td>
</tr>
</table>
</body>
</html>
