
/* ============================================ *
 * Solution - Detail
 * ============================================ */


.coffeesolutions-solutions-detail {
    .actions-solution {
        .titles {
            width: 55%;
            float: left;
            h3 {
                text-transform: uppercase;
                color: $bg-red;
                font-size: 24px;
                margin: 0 0 10px;
                font-family: $gotham-medium;
                font-weight: normal;
            }
            h4 {
                color: black;
                text-transform: none;
                font-size: 18px;
                margin: 10px 0;
                font-family: $gotham-medium;
                font-weight: normal;
                a {
                    text-decoration: underline;
                    font-size: 14px;
                    font-family: $gotham-book;
                    margin-left: 13px;
                }
            }
            .subtitle {
                font-family: $gotham-book;
                font-size: 16px;
                margin-top: 25px;
                color: black;
                span {
                    font-family: $gotham-medium;
                }
            }
        }
        .cta {
            float: right;
            width: 43%;
            .btn-cart {
                height: 50px;
                line-height: 50px;
                padding: 0 40px 0;
                position: relative;
                font-size: 14px;
            }
            .btn-cart:before {
                background-size: 130px auto;
                background-position: -48px -46px;
                top: 10px;
                left: 15px;
            }
            .grantotal {
                border-radius: 10px;
                border: 2px solid #ededed;
                padding: 10px 3%;
                display: inline-block;
                font-size: 18px;
                color: black;
                font-family: "Gotham-Medium", "Trebuchet MS", Arial, sans-serif;
                margin: 30px 0;
                text-align: center;
                width: 94%;
                .price {
                    color: $bg-dark-red;
                    font-size: 30px;
                    min-width: 45%;
                    width: auto;
                    display: inline-block;
                    &:before {
                        font-size: 18px;
                        content: "$";
                        margin-right: 5px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .div70 {
        float: left;
        width: 100%;
    }
    .content_solution {
        display: block;
        float: left;
        width: 100%;
        .item {
            float: left;
            border: solid 2px #ededed;
            padding: 0;
            clear: both;
            border-radius: 10px;
            width: 100%;
            .cont_title {
                border-radius: 10px;
                border: 1px solid #e1261c;
                padding: 15px 20px;
                background: #e1261c;
                display: block;
                margin: -1px;
                h2 {
                    font-size: 16px;
                    text-transform: uppercase;
                    color: white;
                    width: 27.5%;
                    display: inline-block;
                    margin: 0;
                    .info {
                        position: relative;
                        display: inline;
                        margin-left: 10px;
                        cursor: pointer;
                        .ico {
                            color: $bg-red;
                            background: white;
                            border-radius: 15px;
                            width: 20px;
                            height: 20px;
                            font-family: $gotham-medium;
                            font-size: 18px;
                            display: inline-block;
                            text-align: center;
                        }
                        .show {
                            display: none;
                            font-family: $gotham-book;
                            text-transform: none;
                            background: $bg-red;
                            border-radius: 10px;
                            padding: 10px;
                            width: 220px;
                            position: absolute;
                            top: -80px;
                            transition: .3s;
                            text-align: center;
                            font-size: 12px;
                            left: -115px;
                            &:after {
                                content:'';
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px 10px 0 10px;
                                border-color: #e1261c transparent transparent transparent;
                                line-height: 0px;
                                _border-color: #e1261c #000000 #000000 #000000;
                                _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
                                position: absolute;
                                bottom: -10px;
                                right: 43%;
                            }
                        }
                        &:hover {
                            .show {
                                display: block;
                            }
                        }
                    }
                }
                .show-info {
                    color: white;
                    font-size: 0;
                    line-height: 1.2em;
                    width: 37%;
                    color: white;
                    display: inline-block;
                }
                &.insumos {
                    .show-info {
                        font-size: 12px;
                    }
                }
                a {
                    text-decoration: underline;
                    text-align: center;
                    color: white;
                    transition: all 0.5s ease-in;
                    cursor: pointer;
                    font-size: 12px;
                }
                a:hover {
                    opacity: .7;
                }
                .total {
                    font-size: 13px;
                    margin-bottom: 0;
                    line-height: 13px;
                    width: 37%;
                    color: white;
                    display: inline-block;
                }
                .restart {
                    width: 18%;
                    margin: 0;
                    display: inline-block;
                }
                .selectall {
                    width: 15%;
                    display: inline-block;
                }
            }
            .border-b {
                border-bottom: solid 1px #ededed;
            }
            .prod {
                padding: 20px 0;
                width: 100%;
            }
            .img-product-view {
                width: 25%;
                margin-left: 0;
                margin-right: 3%;
                float: left;
                img {
                    max-width: 100%;
                }
            }
            .detail-product-view {
                width: 37%;
                float: left;
                a {
                    display: block;
                    font-weight: normal;
                }
                p {
                    margin-bottom: 10px;
                }
                .name {
                    color: $bg-red;
                    font-size: 23px;
                    line-height: 1;
                    font-family: $gotham-medium;
                    width: 100%;
                }
                .sku {
                    font-size: 12px;
                    float: left;
                    color: $c-text-gray-cl;
                    line-height: 17px;
                }
                .review {
                    float: left;
                    background: url("../images/elements/sprite.png") -25px -635px no-repeat;
                    width: 100px;
                    height: 20px;
                    margin-bottom: 5px;
                }
                .info-block {
                    border: none;
                    padding: 20px 0 0;
                    width: 100%;
                    display: inline-block;
                    .description {
                        font-family: $gotham-medium;
                        font-size: 13px;
                        text-align: justify;
                    }
                    .large-desc {
                        font-family: $gotham-book;
                        font-size: 12px;
                        text-align: justify;
                    }
                }
                .block-price {
                    margin: 30px 0;
                    .price {
                        font-size: 30px;
                        color: $bg-dark-red;
                    }
                    .price:before {
                        content: "$";
                        font-size: 25px;
                    }
                    .old-price {
                        .price {
                            color: $c-text-gray-cl;
                            font-size: 25px;
                        }
                        .price:before {
                            font-size: 18px;
                        }
                    }
                }
            }
            .cont_actions_prod {
                width: 33%;
                float: right;
            }
            .qty {
                width: 50%;
                float: left;
                margin: 0;
                .qty-prod {
                    margin: 0 auto;
                    padding-top: 45px;
                    height: 30px;
                    display: table;
                    span {
                        border-radius: 5px;
                        border: 2px solid #afafaf;
                        margin: 5px 0;
                        text-align: center;
                        height: 18px;
                        width: 20px;
                        font-size: 28px;
                        font-weight: normal;
                        color: #afafaf;
                        display: inline-block;
                        line-height: 22px;
                        cursor: pointer;
                        padding: 3px;
                        float: left;
                    }
                    input {
                        display: inline-block;
                        border: 1px solid #ededed;
                        background: #ededed;
                        border-radius: 4px;
                        padding: 5px;
                        margin: 0 10px;
                        width: 35px;
                        height: 26px;
                        font-size: 20px;
                        text-align: center;
                        float: left;
                        color: #afafaf;
                    }
                }
                .lnk {
                    text-decoration: underline;
                    font-family: $gotham-book;;
                    color: $bg-red;
                    font-size: 12px;
                    margin-top: 20px;
                }
            }
            .cont_check {
                float: left;
                padding-top: 45px;
                width: 50%;
                margin: 0;
            }
            .title_sol {
                font-family: $gotham-medium;
                text-align: center;
            }
        }
    }
}

@include bp(max-width, $bp-xlarge) {
    .coffeesolutions-solutions-detail {
        .actions-solution {
            .titles {
                width: 45%;
            }
            .cta {
                width: 55%;
                .grantotal {
                    .price {
                        font-size: 25px;
                    }
                }
            }
        }
        .content_solution {
            .item {
                .detail-product-view {
                    .name {
                        font-size: 20px;
                    }
                    .block-price {
                        .price:before {
                            font-size: 18px;
                        }
                        .price {
                            font-size: 25px;
                        }
                        .old-price {
                            .price:before {
                                font-size: 15px;
                            }
                            .price {
                               font-size: 18px; 
                            }
                        }
                    }
                }
            }
        }
    } 
}

@include bp(max-width, $bp-medium) {
    .coffeesolutions-solutions-detail {
        .actions-solution {
            .titles,
            .cta {
                width: 100%;
                .btn-white {
                    margin: 10px 0;
                }
                .btn-cart {
                    margin: 20px 0;
                }
                .grantotal {
                    display: table;
                    float: none;
                    margin: 20px auto;
                    .price {
                        width: 100%;
                        float: left;
                    }
                }
            }
            .titles {
                h3 {
                    font-size: 20px;
                }
                h4 {
                    font-size: 14px;
                    a {
                        width: 100%;
                        display: inline-block;
                        margin: 0;
                    }
                }
            }
        }
        .content_solution {
            .item {
                .cont_title {
                    h2 {
                        width: 100%;
                    }
                    .total {
                        width: 100%;
                    }
                    .selectall,
                    .restart {
                        display: none;
                    }
                }
                .img-product-view {
                    width: 25%;
                    min-height: 350px;
                }
                .detail-product-view {
                    width: 70%;
                    .name {
                        font-size: 18px;
                    }
                    .info-block {
                        .description {
                            font-size: 12px;
                        }
                        .view_more:after {
                            content:"+";
                            margin-left: 10px;
                            font-size: 16px;
                            line-height: 16px;
                        }
                        .view_more {
                            font-size: 12px;
                            text-decoration: none;
                            font-family: $gotham-medium;
                        }
                    }
                    .block-price {
                        float: left;
                        margin: 15px 0;
                        .price-box {
                            margin: 0 auto;
                            display: table;
                            float: none;
                        }
                        .price::before {
                            font-size: 18px;
                        }
                        .price {
                            font-size: 23px;
                        }
                        .old-price {
                            .price::before {
                                font-size: 15px;
                            }
                            .price {
                                font-size: 18px;
                            }
                        }
                    }
                }
                .cont_actions_prod {
                    width: 72%;
                    float: right;
                }
                .qty {
                    width: 40%;
                    margin: 0 30px 0 0;
                    float: left;
                    .qty-prod {
                        padding: 0;
                        float: none;
                        .lnk {
                            float: left;
                            margin-left: 30px;
                        }
                    }
                    .lnk {
                        margin-top: 10px;
                    }
                }
                .cont_check {
                    width: 40%;
                    margin: 0;
                    float: left;
                    border-radius: 5px;
                    background: $c-text-gray-cl;
                    padding: 10px 0;
                }
            }
        }
    }
}

@include bp(max-width, $bp-small) {
    .coffeesolutions-solutions-detail {
        .actions-solution {
            .titles,
            .cta {
                width: 100%;
                .btn-cart,
                .btn-white {
                    display: block;
                    clear: both;
                }
                .btn-cart {
                    width: 100%;
                }
                .btn-white {
                    margin: 10px 0;
                }
            }
        }
        .content_solution {
            .item {
                .img-product-view {
                    width: 25%;
                    min-height: 0;
                }
                .cont_tit_mob {
                    width: 70%;
                    float: right;
                }
                .name {
                    color: $bg-red;
                    font-size: 15px;
                    line-height: 1;
                    font-family: $gotham-medium;
                    width: 100%;
                    text-decoration: none;
                }
                .sku {
                    font-size: 12px;
                    float: left;
                    color: $c-text-gray-cl;
                    line-height: 17px;
                    width: 100%;
                }
                .detail-product-view {
                    width: 100%;
                    .info-block {
                        .description,
                        .large-desc {
                            text-align: left;
                        }
                    }
                    .block-price {
                        float: none;
                        .price::before {
                            font-size: 16px;
                        }
                        .price {
                            font-size: 20px;
                        }
                        .old-price {
                            .price::before {
                                font-size: 13px;
                            }
                            .price {
                                font-size: 15px;
                            }
                        }
                    }  
                }
                .cont_actions_prod {
                    width: 100%;
                }
                .qty {
                    width: 40%;
                    .qty-prod {
                        float: none;
                    }
                }
                .cont_check {
                    width: 40%;
                    float: right;
                    margin: 15px 0;
                }
            }
        }
    }
}

@include bp(max-width, $bp-xsmall) {
    .coffeesolutions-solutions-detail {
        .content_solution {
            .item {
                .detail-product-view {
                    .info-block {
                        .description,
                        .large-desc {
                            text-align: justify;
                        }

                    }
                }
                .qty {
                    width: 100%;
                    margin: 15px 0;
                }
                .cont_check {
                    width: 100%;
                    margin: 15px 0;
                    float: left;
                }
            }
        }
    }
}