#html-body {  
    dl.accordion dt, 
    .entry-edit .entry-edit-head {
        background: $bg-dark-red;
    }
    .switcher {
        background: $c-gray;
    }
    .nowrap {
        span {
            color: $bg-red !important;
        }
    }
    .grid {
        table {
            border-color: #e4e2e3;
        }
        tr.filter {
            background: $c-input;
        }
        tr.headings {
            th {
                border-color: #f9f9f9 #e4e2e3 #f9f9f9 #f9f9f9;
            }
        }
    }
    .entry-edit {
        .entry-edit-head {
            h4,
            a {
                color: white;
                font-weight: normal;
                font-family: $gotham-medium;
            }
        }
    }
    ul.config-tabs {
        dt {
            background: #dcdada;
            border-color: $c-dark-gray;
            color: black;
        }
    }
    ul.tabs {
        background: $c-gray;
        span {
            background: $c-gray;
            color: black;
            &:hover {
                color: $bg-red;
            }
        }
    }
    .switcher {
        border-color: #dcdada;
    }
    .columns {
        background: none;
    }
    .form-list td.scope-label {
        color: $c-dark-gray;
    }
}