#html-body,
#page-login {  
    font-family: $gotham-book;
    p {
        font-family: $gotham-book;
    }  
    a {
        color: $bg-red;
    }
    h1,
    h2,
    h3,
    h4 {
        font-family: $gotham-medium;
        color: $bg-red;
    }
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    button, 
    .form-button {
        border: none;
        padding: 5px 7px;
        background: $bg-red;
        color: #fff;
        font-family: $gotham-book;
        font-weight: normal;
        font-size: 11px;
        font-family: $gotham-book;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center !important;
        white-space: nowrap;
        border-radius: 5px;
    }
    button.add {
        span {
            background-image: none;
            padding-left: 5px;
        }
    }
    button.add:before {
        content: '+';
        width: 15px; 
        height: 15px;
        color: $bg-red;
        background: white;
        font-size: 14px;
        font-family: $gotham-medium;
        border-radius: 7px;
        float: left;
        line-height: 15px;
    }
}