<!--@subject Formulario de contacto@-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}

@-->

<!--@styles    
@-->


{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <strong>Nombre:</strong> {{var data.name}} <br>
			<strong>Apellido:</strong> {{var data.lastname}}<br>
			<strong>Correo electrónico:</strong> {{var data.email}}<br>
			<strong>Asunto:</strong> {{var data.subject}}<br>

			Comentario: {{var data.comment}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}