<!--@subject Bienvenido, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

{{template config_path="design/email/header"}}
<tr>
<td height="40" bgcolor="#ef2226" style="font-size:18px;text-align:center; color: #fff; text-transform: uppercase; ">&iexcl;Bienvenido!</td></tr>
<tr></tr>
<tr>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="25">
<table width="800" border="0" align="left" cellpadding="0" cellspacing="0" class="title">
<tr>
<td width="20" style="background-color:#000;">&nbsp;</td>
<td width="10" height="40">&nbsp;</td>
<td width="636" height="70" style="padding-right: 33px;font-size:20px;font-weight:bold;text-align:center;color:#58595b;">Felicidades, ya eres parte de Café para mi Negocio.<br />
<span style="font-size:13px;font-weight:normal;color:#58595b;">Pronto recibirás noticias de nuestros productos, precios especiales, lanzamientos, recetas, tips y mucho más.</span></td>
</tr>
</table></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table width="100%" bgcolor="#fff" border="0" cellspacing="0" cellpadding="0" style="border-top:#ccc solid 1px;">
<tr></tr>
<tr>
<td height="80">
<table width="300" border="0" align="center" cellpadding="2" cellspacing="2" style="margin:0 auto;">
<tr>
<td width="451" height="40" align="center" bgcolor="#ef2226">
<a href="{{store url=''}}" style="color:#fff;font-size:15px;text-align:center;cursor:pointer;cursor:hand;text-decoration:none;">IR A LA TIENDA</a></td>
</tr>
</table>
<tr>
<td height="230" align="center" valign="middle" bgcolor="#f4f4f4">
<span style="color:#EB2225;font-family:'Oswald Regular',Arial,sans-serif;text-align:center;font-size:25px;">
&iquest;Qué nos <span style="color:#000;">distingue?</span>
</span><br /><br />
<table width="600" border="0" align="center" cellpadding="2" cellspacing="2">
<tr>
<td width="280" align="center"><a href="{{store url='soluciones-para-ti.html'}}" style="text-decoration: none;display: block;"><img src="{{media url='email/s11.jpg'}}" width="auto" height="91" /></a></td>
<td width="280" align="center"><a href="{{store url=''}}" style="text-decoration: none;display: block;"><img src="{{media url='email/s12.jpg'}}" width="auto" height="91" /></a></td>
<td width="280" align="center"><a href="{{store url=''}}" style="text-decoration: none;display: block;"><img src="{{media url='email/s13.jpg'}}" width="auto" height="91" /></a></td>
<td width="280" align="center"><a href="{{store url=''}}" style="text-decoration: none;display: block;"><img src="{{media url='email/s14.jpg'}}" width="auto" height="91" /></a></td>
</tr>
<tr>
<td valign="top" style="font-family:'Oswald Regular',Arial,sans-serif;font-size:15px;color:#636363;text-align:center;">
SOLUCIÓN<br /><span style="font-family:'Oswald Regular',Arial,sans-serif;font-size:12px;color:#636363;">
de café en 3 clics</span>
</td>
<td valign="top" style="font-family:'Oswald Regular',Arial,sans-serif;font-size:15px;color:#636363;text-align:center;">ENTREGAMOS A<br />
<span style="font-family:'Oswald Regular',Arial,sans-serif;font-size:12px;color:#636363;">toda la república mexicana</span></td>
<td valign="top" style="font-family:'Oswald Regular',Arial,sans-serif;font-size:15px;color:#636363;text-align:center;">SIN MÍNIMO<br />
<span style="font-family:'Oswald Regular',Arial,sans-serif;font-size:12px;color:#636363;">de compra</span>
</td>
<td valign="top" style="font-family:'Oswald Regular',Arial,sans-serif;font-size:15px;color:#636363;text-align:center;">MÉTODO DE PAGO<br />
<span style="font-family:'Oswald Regular',Arial,sans-serif;font-size:12px;color:#636363;">que más te convenga</span></td>
</tr>
</table>
</td>
</tr>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td style="border-top:#ccc solid 1px;">&nbsp;</td>
</tr>
<tr>
<td>
{{template config_path="design/email/footer"}}